#python
__pycache__/
*.pyc
*.pyo

#virtualenv
dragon/
venv/

#logs
backend/logs/

#Models
backend/models/bert_base_uncased/
backend/models/bert_base_uncased/v1/
backend/models/bilstm/
backend/models/bilstm/v1/


#Cache
app/cache/

#VSCode
.vscode/

#OS
.DS_Store

